@font-face {
  font-family: Inika;
  src: url("assets/fonts/Inika-regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url("assets/fonts/static/Inter-regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 1440px) {
  .section {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  background-color: #edf2ec;
  width: 1440px;
  height: 134px;
  left: 75px;
  top: 48px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1220px;
  margin-top: 42px;
  margin-bottom: 42px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: 0.5s;
  cursor: pointer;
  color: #010201;
}

.nav-link:hover {
  color: #e06733;
}

#welcome {
  width: 1440px;
  height: 532px;
  padding-top: 62px;
  left: 0px;
  top: 134px;
  background: #edf2ec;
}

.welcome_container {
  display: flex;
  width: 1220px;
  align-content: space-between;
  justify-content: center;
}

.leaves {
  width: 448.8;
  height: 407.36;
  margin: 0 auto;
  /* margin-left: 109px; */
}

.home_description {
  /* flex-direction: column; */
  width: 549px;
  height: 340px;
  margin-left: 224px;
  /* margin-right: 109.2px; */
}

.btn_learn_more {
  background-color: #edf2ec;
  border: 2px solid #e06733;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  padding: 14px 27px;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.btn_learn_more:hover {
  background-color: #e06733;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
}

h2 {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
}

.p1 {
  font-family: "Inter";
  color: #636060;
  font-size: 20px;
  line-height: 35px;
  margin-top: 5px;
  margin-bottom: 48px;
}

.p2 {
  font-family: "Inter";
  font-size: 20px;
  line-height: 30px;
  color: #636060;
  padding-top: 20px;
}

#about {
  width: 1440px;
  height: 666px;
}

.about_container {
  box-sizing: border-box;
  display: flex;
  width: 1220px;
  height: 479px;
  margin-top: 93px;
  align-content: space-between;
  justify-content: center;
}

.professional {
  width: 463px;
  height: 102px;
}

.about_description {
  width: 605px;
  height: 350px;
  margin-top: 68px;
}

.pot {
  width: 464px;
  height: 479px;
  margin-left: 153px;
}
